
prognosticator.jar
prognosticator.log
src/example/com/deafgoat/ml/prognosticator/example/stock/*.arff
src/example/com/deafgoat/ml/prognosticator/example/stock/*.model
dump/*.arff
dump/*.tsv
dump/*.txt
dump/*.model
src/example/com/deafgoat/ml/prognosticator/example/weather/*.arff
src/example/com/deafgoat/ml/prognosticator/example/weather/*.model
*.pyc
.DS*
*#*
*~
settings.py
*.swp
build
bin
gen
junit*.properties
Ui_*_*.properties
target
pom.xml
test_dbs
test_san
.classpath
.project
.txt
